<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Home', admin_path %></li>
    </ul>
    <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="Javascript:void(0)"><%= current_user.email %></a></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        </ul>
    <% end %>
  </div>
</nav>