<ul class="list-unstyled text-center">
  <li><%= link_to 'Dashboard', admin_dashboard_path %></li>
  <li><%= link_to 'Category', admin_categories_path %></li>
  <li><%= link_to 'Subcategory', admin_subcategories_path %></li>
</ul>